@model IEnumerable<ProjectManager.BLL.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="flex-grow-1 flex-shrink-1 text-truncate">@ViewData["Title"]</h3>
    @*<div class="flex-shrink-0 flex-grow-0 mb-2">
        <a asp-action="Create" class="btn btn-success btn-icon-split ">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add</span>
        </a>
    </div>*@
</div>

<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>@Html.DisplayNameFor(x => x.LastName)</th>
                    <th>@Html.DisplayNameFor(x => x.FirstName)</th>
                    <th>@Html.DisplayNameFor(x => x.Surname)</th>
                    <th>@Html.DisplayNameFor(x => x.Email)</th>
                    <th class="text-center">Tasks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td>@item.Surname</td>
                        <td>@item.Email</td>
                        <td class="text-center">@(item.Tasks.Count.ToString() ?? "0")</td>
                        <td class="td-actions">
                            <div class="btn-group">
                                <a class="btn btn-info btn-just-icon btn-sm m-1" title="Info" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="fas fa-user"></i>
                                </a>
                                @*<a class="btn btn-success btn-just-icon btn-sm m-1" title="Edit" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-just-icon btn-sm m-1" title="Remove" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa fa-times"></i>
                                </a>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts{
    <script>

    </script>
}
