@model ProjectManager.PL.ViewModels.ProjectTaskViewModel

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            @*@if (User.IsInRole(ProjectManager.Roles.Leader))
                {
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-times"></i></a>
                }*@
            Task @Html.DisplayFor(model => model.Title)
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title):</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Author):</td>
                        <td>@(Model?.Author?.SimplifiedName ?? string.Empty)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Performer):</td>
                        <td>@(Model?.Performer?.SimplifiedName ?? string.Empty)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Project):</td>
                        <td>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@(Model.ProjectId)">
                                @(Model?.Project?.Title ?? string.Empty)
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status):</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Comment):</td>
                        <td>@Html.DisplayFor(model => model.Comment)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>