@model IEnumerable<ProjectManager.ViewModels.ProjectViewModel>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="flex-grow-1 flex-shrink-1 text-truncate">Projects</h3>
    @*<div class="flex-shrink-0 flex-grow-0 mb-2">
        <a asp-action="Create" asp-controller="Projects" class="btn btn-success btn-icon-split ">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add</span>
        </a>
    </div>*@
</div>

<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">@Html.DisplayNameFor(x => x.Title)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Manager)</th>
                <th class="text-center">Customer</th>
                <th class="text-center">Performer</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.StartDate)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.EndDate)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Priority)</th>
                <th class="text-center">Tasks</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Title</td>
                    <td class="text-center">
                        <a asp-action='Details' asp-controller='Employees' asp-route-id='@(item?.Manager?.Id ?? 0)'>
                            @(item?.Manager?.SimplifiedName ?? "")
                        </a>
                    </td>
                    <td class="text-center">@item.CustomerCompany</td>
                    <td class="text-center">@item.PerformerCompany</td>
                    <td class="text-center">@item.StartDate.ToString("dd.MM.yyyy")</td>
                    <td class="text-center">@item.EndDate.ToString("dd.MM.yyyy")</td>
                    <td class="text-center">@item.Priority</td>
                    <td class="text-center">@item?.Tasks?.Count</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-info btn-just-icon btn-sm m-1" title="Info" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            @*<a class="btn btn-success btn-just-icon btn-sm m-1" title="Edit" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-just-icon btn-sm m-1" title="Remove" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa fa-times"></i>
                                </a>*@
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <partial name="_NothingToShow"/>
    }
</div>